
img {
    height: 100%; 
    aspect-ratio: 1;
}

body {
    background-image: url(/planetthing/img/background.jpg);
    background-size: 100%;
}

.box {
    margin-left: Calc(50vw - 600);
    margin-top: Calc(50vh - 600);
    width: 1200px;
    aspect-ratio: 1;
    position: relative;
}

.sun{
    width: 50px;
    height:50px;
    border-radius: 50%;
    position: absolute;
    top: Calc(50% - 25px);
    left: Calc(50% - 25px);
}

.orbit {
    border-radius: 50%;
    position: absolute;
    border: 1px solid white;
    aspect-ratio: 1;
}

.planet {
    border-radius: 50%;
    position: absolute;
    aspect-ratio: 1;
}